  * {
      margin: 0;
      padding: 0;
  }
  
  
  /* HEADER */



.navigation-menu {
    max-width: 1112px;
    margin: auto;
    padding: 25px 0;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.logo {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #555252;
}


.logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}


.list-item {
    list-style: none;
}


.list-item a {
    color: #0f0101;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}


.list-item a:hover {
    color: #1abc9c;
}

/* .list-item {
    float: left;
}


.spisok {
    float: right;
    padding: 12px 0;
} */






    /* HEADLINE */


h2 {
    display: block;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    text-align: center;
    margin-bottom: 92px;
}


h2::after {
    display: block;
    margin: auto;
    margin-top: 30px;
    content: '';
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}







       /* MAIN */


img {
    display: block;
    max-width: 100%;
    height: auto;
}


.text {
    display: inline-block;
    width: 255px;
    box-sizing: border-box;
    padding: 10px;
    color: #ffffff;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.container {
    background:linear-gradient(to right,
    #323232 0%, #323232 78%,
    #8c8c8c 78%, #8c8c8c 100%);
    max-width: 255px;
    max-height: 324px;
}


.container:hover {
    background:linear-gradient(to right,
    #1abc9c 0%, #1abc9c 78%,
    #7fd9c7 78%, #7fd9c7 100%);
}


span {
    float: right;
    padding: 0 3px;
}


/* .container {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}


.container:nth-of-type(4n+4) {
    margin-right: 0;
} */


.featured-list {
    max-width: 1112px;
    margin: auto;
}



   /* LAREAS NEWS */



   .latest-news {
    max-width: 1112px;
    /* margin: auto; */
    }


   .list-item2 {
       /* max-width: 350px; */
       list-style: none;
   }


   .headline3 {
       display: block;
       color: #555252;
       font-size: 18px;
       font-family: 'Open Sans', sans-serif;
       font-weight: bold;
       margin-top: 14px;
   }


   .headline3::after {
       display: block;
       content: '';
       width: 136px;
       height: 3px;
       background-color: #1abc9c;
       margin-top: 13px;
   }


   .list-item2 p {
       font-size: 14px;
       font-family: 'Open Sans', sans-serif;
       font-weight: normal;
       color: #555252;
       margin-top: 28px;
   }


   .list-item2 button {
       font-family: 'Open Sans', sans-serif;
       font-size: 16px;
       font-weight: normal;
       margin-top: 17px;
       width: 160px;
       height: 50px;
       color: #ffffff;
       background-color: #4ec6ab;
       border: 0;
       border-radius: 2px;
       margin-bottom: 80px;
   }