header {
    max-width: 900px;
    /* outline: 1px solid #000000; */
}


.logo {
    /* outline: 1px solid black; */
    text-decoration: none;
    display: inline-block;
    color: #757775;
    font-size: 30px;
    float: left;
}


.logo::first-letter {
    color: #1c9e36;
}


.container {
    margin: auto;
    padding: 10px 0;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.site-navigation {
    /* outline: 1px solid #000000; */
    float: right;
}


.site-navigation li {
    list-style: none;
    float: left;
}


.site-navigation li:not(last-child) {
    margin-right: 20px;
}


li a {
    text-decoration: none;
    color: #000000;
}


li a:hover {
    color: #1c9e36;
}